.finance {
  width: 100%;
  background-color: var(--color-gray-100);
  border-radius: 8px;
  overflow: hidden;
}

.finance article {
  display: flex;

  border-left: 8px solid;
}

.finance.finance--incoming article {
  border-color: var(--color-secondary);
}

.finance.finance--outgoing article {
  border-color: var(--color-primary-2);
}

.finance.ghostmode article {
  border-color: var(--color-gray-300);
}

.finance__header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 12px 18px;
  padding-right: 0;
  flex: 1;
}

.finance__title {
  font-family: 'Nunito', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: var(--color-gray-400);
  width: 100%;
}

.finances__empty {
  font-family: 'Nunito', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: var(--color-gray-300);
  width: 100%;
}

.finance.ghostmode .finance__title {
  padding: 3px 6px;
  color: transparent;
  background-color: var(--color-gray-200);
  border-radius: 4px;
  width: 90%;
}

.finance__type {
  font-family: 'Nunito', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--color-gray-300);
  width: 100%;
}

.finance.ghostmode .finance__type {
  padding: 3px 6px;
  background-color: var(--color-gray-200);
  color: transparent;
  border-radius: 4px;
  width: 50%;
}

.finance__value {
  font-family: 'Nunito', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 800;
  font-size: 19px;
  
  margin: 18px;
  padding: 3px 6px;

  color: var(--color-gray-400);
}

.finance.finance--incoming .finance__value {
  color: var(--color-secondary);
}

.finance.finance--outgoing .finance__value {
  color: var(--color-primary-2);
}

.finance.ghostmode .finance__value {
  color: transparent;
  border-radius: 4px;
  width: fit-content;
  height: fit-content;
  background-color: var(--color-gray-200);
}

.finance__remove {
  border: none;
  background-color: var(--color-gray-200);
  cursor: pointer;
  transition: 0.2s ease;
}

.finance.ghostmode .finance__remove {
  display: none;
}

.finance__remove:hover {
  background-color: var(--color-primary);
}

.finance__remove svg {
  fill: var(--color-gray-300);
  transition: 0.2s ease;
}

.finance__remove:hover svg {
  fill: #fff;
}