.select__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.select__label {
  font-size: 14px;
  font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--color-gray-400);
}

.select {
  background-color: var(--color-gray-100);
  color: var(--color-gray-400);

  font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;

  width: 100%;
  margin-top: 8px;
  padding: 14px 16px;
  flex: 1;
  
  border: none;
  border-radius: 8px;
  outline: none;
}

.select:focus {
  outline: 2px solid var(--color-primary);
}

.hint {
  color: var(--color-gray-300);

  margin-top: 4px;

  font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}