@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Nunito:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap');

:root {
  --color-primary: #FD377E;
  --color-primary-2: #E34981;
  --color-secondary: #03B898;

  --color-gray-100: #F8F9FA;
  --color-gray-200: #E9ECEF;
  --color-gray-300: #868E96;
  --color-gray-400: #212529;
}

.app {
  width: 100%;
  height: 100%;

  font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}